body {
  background-color: DarkSeaGreen;
}

h1 {
	color:DarkSlateGrey;
	font-size: 40px;
	text-align: center;
	font-weight: bold
}

blockquote {
	color:DarkSlateGrey;
	font-style: italic;
}

footer {
	font-style: normal;
	font-weight: bold
}
